.about-div {
  background-color: #2E0249;
}

/* navbar settings */
.navbar {
  margin-left: 0;
  background-color: #2E0249;
  padding: 5% 10% 5% 10%;
}

.nav-item .text-paragraph:hover, .nav-item .text-paragraph:active {
  color: #A91079;
}

.navbar-toggler {
  background-color: transparent;
  color: #2E0249;
}

.hamburger-icon {
  height: 200%;
  width: 200%;
  color: #F806CC;
}

/* about section */
.intro-div {
  padding: 0 50% 10% 10%;
}

.text-heading, .text-subheading, .text-paragraph {
  color: #F806CC;
}

.text-heading, .text-subheading {
  font-family: 'Anton', serif;
}

.text-heading {
  font-size: 3rem;
}

.text-subheading {
  font-size: 1.5rem;
}

.text-paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
}

.pink-link, .pink-link:visited {
  text-decoration: none;
  color: #F806CC;
}

.pink-link:hover, .pink-link:active {
  text-decoration: none;
  color: #A91079;
}

/* skill section */
.skill-div {
  background-color: #f0d0e6;
}

.skill-icons-div {
  padding: 5% 0 5% 0;
}

.skill-icon {
  width: 50%;
  height: auto;
  margin: 20px 20px 20px 20px;
}

/* project section */
.project-div {
  background-color: #570A57;
}

.project-cards-div {
  background-color: transparent;
  position: relative;
}

.card-div {
  padding: 30px 0 30px 0;
}

.card, .card-btn {
  background-color: transparent;
}

.card-body {
  background-color: #471147;
}

.card-body .text-subheading, .card-body .text-paragraph {
  color: #f0d0e6;
}

/* contact-section */
.contact-div {
  background-color: #2e0249;
}

.pink-btn, .pink-btn:visited, .pink-btn:focus {
  color: #F806CC;
  border-color: #F806CC;
}

.pink-btn:hover {
  border-color: #F806CC;
  background-color: #F806CC;
  color: #f0d0e6;
}

.pink-btn-solid, .pink-btn-solid:visited, .pink-btn-solid:focus {
  color: #2e0249;
  border-color: #F806CC;
  background: #F806CC;
  height: 3rem;
}

.pink-btn-solid:hover {
  border-color: #F806CC;
  background-color: #F806CC;
  color: #2e0249;
}

.pink-icon, .pink-icon:hover, .pink-icon:active, .pink-icon:visited {
  color: #F806CC;
}

.contact-btn-show {
  display: inline-block;
}

.contact-btn-hide {
  display: none;
}

.contact-form-show {
  display: flex;
  flex-direction: column;
}

.contact-form-hide {
  display: none;
}

.input-field {
  background-color: inherit;
  border: none;
  outline: 1px solid;
  border-radius: 10px;
  outline-color: #F806CC;
  padding: 10px;
  height: 3rem;
  margin-bottom: 1.75rem;
}

.message-box {
  height: 15rem;
}

.thank-you {
  visibility: hidden;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* More text */
.more {
  display: none;
}

/* More button */
.more-btn, .more-btn-hover .more-btn:visited, .more-btn:active, .more-btn:focus {
  background-color: inherit;
  border: none;
  display: inline;
  color: grey;
  padding: 0;
  margin-left: 4px;
}

@media screen and (max-width: 600px) {
  .intro-div {
    padding: 0 10% 10% 10%;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .text-heading {
    font-size: 3.3rem;
  }

  .text-subheading {
    font-size: 1.65rem;
  }

  .text-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.21rem;
  }
}
