.intro-heading, .intro-subheading, .intro-paragraph {
  color: #F806CC;
}

.intro-heading, .intro-subheading {
  color: #F806CC;
  font-family: 'Anton', sans-serif;
}

.intro-heading {
  font-size: 3rem;
}

.intro-subheading {
  font-size: 1.5rem;
}

.intro-paragraph {
  margin-top: 5%;
  font-family: 'Montserrat', sans-sans-serif;
}
